@page
@model FurnitureApp.Pages.Admin.OrderUsers.EditModel

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Edit";
    ViewData["CurrentTab"] = "orders";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Order.Id" />
            <div class="form-group">
                <label asp-for="Order.ShippingPrice" class="control-label"></label>
                <input asp-for="Order.ShippingPrice" class="form-control" />
                <span asp-validation-for="Order.ShippingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderTotal" class="control-label"></label>
                <input asp-for="Order.OrderTotal" class="form-control" />
                <span asp-validation-for="Order.OrderTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.PaymentMethod" class="control-label"></label>
                <input asp-for="Order.PaymentMethod" class="form-control" />
                <span asp-validation-for="Order.PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderNote" class="control-label"></label>
                <input asp-for="Order.OrderNote" class="form-control" />
                <span asp-validation-for="Order.OrderNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderDate" class="control-label"></label>
                <input asp-for="Order.OrderDate" class="form-control" />
                <span asp-validation-for="Order.OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
